@import url("https://fonts.googleapis.com/css?family=Poppins:regular,500&display=swap");
@font-face {
  font-family: "icons";
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
[class*=_icon-]::before {
  display: inline-block;
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input,
textarea {
  width: 100%;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins";
}

.wrapper {
  overflow: clip;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}
.wrapper main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

[class*=__container] {
  margin: 0 auto;
  padding: 0 0.9375rem;
  max-width: 89.375rem;
}

.header {
  display: grid;
  place-items: center;
  padding: 1.25rem 0;
}
.header__logo {
  max-width: 18.75rem;
  height: auto;
  width: 100%;
}

.news {
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
}
@media (max-width: toEn(480)) {
  .news {
    padding-top: 3.125rem;
    padding-bottom: 3.125rem;
  }
}
.news__container {
  display: grid;
  place-items: center;
}
.news__item:not(:last-child) {
  margin-bottom: 1.875rem;
}

.item-news {
  padding: 0.9375rem;
  border-radius: 0.75rem;
  border: 0.0625rem solid #beb8b8;
  max-width: 43.75rem;
  width: 100%;
}
.item-news__content {
  margin-bottom: 1.25rem;
}
.item-news__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.25rem;
  margin-bottom: 1.25rem;
}
.item-news__icon {
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 50%;
  -o-object-fit: contain;
     object-fit: contain;
}
.item-news__info {
  display: grid;
  gap: 0.9375rem;
}
.item-news__title {
  font-weight: 600;
}
@media (min-width: 89.375em) {
  .item-news__title {
    font-size: 1.25rem;
  }
}
@media (min-width: 20em) and (max-width: 89.375em) {
  @supports (font-size: clamp( 1.125rem , 1.088963964rem  +  0.1801801802vw , 1.25rem )) {
    .item-news__title {
      font-size: clamp( 1.125rem , 1.088963964rem  +  0.1801801802vw , 1.25rem );
    }
  }
  @supports not (font-size: clamp( 1.125rem , 1.088963964rem  +  0.1801801802vw , 1.25rem )) {
    .item-news__title {
      font-size: calc(1.125rem + 0.125 * (100vw - 20rem) / 69.375);
    }
  }
}
@media (max-width: 20em) {
  .item-news__title {
    font-size: 1.125rem;
  }
}
.item-news__text {
  font-size: 1.125rem;
  font-weight: 500;
  margin-bottom: 0.625rem;
}
.item-news__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.9375rem;
  padding-bottom: 0.625rem;
}
.comment:not(:last-child) {
  margin-bottom: 1.25rem;
  border-bottom: 0.0625rem solid #beb8b8;
}
.comment__user-img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}
.comment__content {
  display: grid;
  gap: 0.625rem;
}
.comment__username {
  font-weight: 500;
}
.comment__text {
  color: #585656;
}